.contCart{
    padding: 0!important;
    margin: 0!important;
}

.texticonos{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 1.7em;
    font-weight: 400;
    color:#727176;
}
ul 

@media (max-width: 991px) {
    .texticonos {
        font-size: 1.3em;
    }
  }
.botonIconoPrincipal:hover{
    opacity: .6;
}

/* ------- CSS PARA TABLERO DE VER EQUIPOS ----------*/
.bacTituloPrincipal{
    background-color: #F7C90D;
}
.colIcono{
    background-color: #A6CE34;
}
.textTitulo{
    font-weight: 600;
    color:#5C7C26;
}
a.textEquipo{
color: #727176 !important;     
}

a.textEquipo:hover{
    color: #F7C90D !important;     
    }