 /**, div, col { 
    border: #212529 1px solid;

}*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Montserrat', sans-serif!important;
}
.fondoBody{
  background-color: #F8F9F7;
}
/* -------- ALTA DE MAQUINARIA --------- */

.btnModal{
  background-color: #fff;
  border: none;
}

 /* ------- CSS PARA EQUIPOS ----------*/


.imgMaquinaria{
  width: 500px;
 height: 300px;
  object-fit:contain!important;
}


.contCart{
  padding: 0!important;
  margin: 0!important;
}

.texticonos{
  font-family: 'Montserrat', sans-serif!important;
  font-size: 1.1em;
  font-weight: 500;
  color:#727176;
}


@media (max-width: 991px) {
  .texticonos {
      font-size: 1.3em;
  }
}

.botonIconoPrincipal:hover{
  opacity: .6;
}

/* ------- CSS PARA TABLERO DE VER EQUIPOS ----------*/
.bacTituloPrincipal{
  background-color: #F7C90D;
}
.colIcono{
  background-color: #A6CE34;
}
.textTitulo{
  font-size: 1.6em!important;
  font-weight: 500;
  color: #5C7C26;
}
a.textEquipo{
color: #727176 !important;     
}

a.textEquipo:hover{
  color: #F7C90D !important;     
}
/*------CSS PARA PERSONAL --------*/
.imgPersonal{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* ------- CSS PARA Vista OBRAS ----------*/

.divBorder{
  border-bottom: #F7C90D solid 3px!important;
}

.tituloEncabezado{
 font-size: 2em;
 font-weight: 500;
 color:#5C7C26;
}

input[type=checkbox].check{
  width:25px ;
  height: 25px!important;
}

input[type=checkbox].check:focus,
input[type=checkbox].check:checked{
background-color: #A6CE34;
}

.vistaFotoCombustibles{
  width: 80%;

}

.imgVista{
  object-fit: cover;
  width:150px;
  height: 150px;
}

.imgVistaCombustible{
  object-fit: cover;
  width:90%;
}

.vistaLogo{
  width: 15%;
  height: 50%;
}

@media (max-width: 576px) {
  .vistaLogo{
    width: 15%;
    /* height: 50%; */
  }
}

.txtVistaObra{
  font-size: 1.1em;
  line-height: 1.5em;
}
  @media (max-width: 576px) {
    .vistaLogo{
      width: 35%;
      /* height: 50%; */
    }
  }
/*------ Estructura carga y descarga de comustible pestañas interactivas ----------*/

  .contentCargas{
    border: 1px solid #F7C90D;
    border-radius: 9px;
  }
  button.BTNbCargaDescarga{
    border: none!important;
    background-color: #d7f49f!important;
    color: #727176!important;
    font-size: 1.3em;
    letter-spacing: .4em;
    text-align: center!important;
  }
  

  button.BTNbCargaDescarga.active,
  button.BTNbCargaDescarga.active:hover,
  button.BTNbCargaDescarga.active:focus{
    border: none!important;
    background-color: #8caf48!important;
    color: #fff!important;
    border-color: none!important;
  
    text-align: center!important;
  }
  svg.accionesIconos{
  color: #8caf48;
}
/*---------- ESTE ESTILO ES SOLO PARA EL BOTÓN DE LAS ACCIONES EN LAS TABLAS ----------*/
.btnSinFondo{
  background-color: #fff;
  border: none;
  color: red;
}
  /*------ botones mas y menos -------*/
.btnVerde{
  background-image: url('/img/general/plus-circle-fill.svg')!important;
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 20px 20px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  border: none;
}  

.btnRojo{
  background-image: url('/img/general/dash-circle-fill.svg')!important;
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 20px 20px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  border: none;
}  

/* ------- CSS PARA TABLERO Alta de OBRA ----------*/
.altalogo{
width: 60%;
height: 40%;
}
.altaEmpresaFoto{
width: 60%;
height: 40%;
}
input.inputCaja{
  width: 100%!important;
}
button.botonGral{
  background-color: #A6CE34!important;
  color: #fff;
}
.labelTitulo{
  color: #5C7C26;
  font-size: 1.1em;
  line-height: 1.3;
  padding-bottom: 2px;
  font-weight: 600!important;
}
input.inputCaja, select{
  border: #5C7C26 1px solid!important;
  border-radius: .375rem;
  height: 32px;
}

input.inputCaja:focus,
input.inputCaja:active,
select:focus,
select:active{
box-shadow: 2px 2px 10px 2px #F7C90D!important;
}


 /* ------- CSS PARA ALTA DE PERSONAL ----------*/
.bacTituloPrincipal{
  font-size: 1.6em;
  font-weight: 500;
  color:#727176;
}

.bacTituloPrincipal:not(.collapsed) {
  color: #727176;
  background-color: #F7C90D;
  box-shadow: 2px 2px 5px 1px #727176!important;
}

.bacTituloPrincipal:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: 2px 2px 5px 1px #727176!important;
}

/* ------- CSS PARA ALTA DE PERSONAL/ DOCUMENTOS ----------*/
.contDocumentos{
  border: #5C7C26 1px solid!important;
}

.semaforo{
  background-color: red;
  width: 30px;
  height: 30px;
}
.semaforo2{
  color: red;
  padding-top: 5px;
  font-size: 1.25rem
}
.semaforo3{
  color: green;
  padding-top: 5px;
  font-size: 1.25rem
}


/* ------- CSS PARA VISTA DE PERSONAL/ DOCUMENTOS ----------*/
p span{
  font-weight: 400;
}

  .btnMas{
    width: 100%;
    color: #F7C90D;
  }
  /* ------------Alineacion de items------------ */
  .alin{
    align-items:baseline
  }
  /* ------- CSS PARA DETALLE DE EQUIPO ----------*/

#muestra {
  position: relative; 
  margin: 1rem auto; 
  width: 100%; height: 342px; 
  background-color: #fff; 
  overflow: hidden; 
}


#selectores img{
  padding: 3px;
  margin: none; 
  cursor: pointer; 
  background-size: cover;
  border: #F7C90D solid 1px;
  width: 20%; 
}

#visor {
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
      
#visor img {
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.btnModal{
  border: none;
  background-color: #fff;
}


  /* ------- CSS PARA DETALLE DE EQUIPO ----------*/


  /* ---------- MENU ---------*/
.barra-lateral .menu a{
  text-decoration: none;
  display:block;
  padding: 10px!important;

  border-bottom: 1px solid rgba(255,255,255, .2);
}
.barra-lateral .menu li a:active{
  background-color: #727176!important;
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4); */
}

.barra-lateral .menu li a:hover{
  background:#727176;
  text-decoration: none;
}

ul li a.nav-link li.nav-item i svg.iconMenu{
  color: #fff!important;
  margin-right: 50px!important;
  font-weight: normal;
}

svg.iconMenu:hover{
color: #fff!important;
}


/* ----------- PAGINACIÓN ----------------*/

.card .card-body+.card-footer, .card .card-footer {
  margin: auto!important;
}

.page-link{
color:#5C7C26!important;
}

.page-item{
margin: 4px!important;
}

.page-link:active,
.page-link:focus{
background-color: #F7C90D!important;
}

.page-link:hover{
  background-color:#fff!important;
  border-bottom: #F7C90D 2px solid!important;
  color: #727176!important;
  }
  
  .page-item.active .page-link{
    background-color: #F7C90D!important;
    border:#F7C90D!important;
    color: #727176!important;
  }
  .page-link{
    padding: 2px 3px !important;

  }


/* --------- ICONOS MENÚ --------- */
.iconMenu{
  font-size: 24px!important;
  float: left!important;
  margin-right: 15px!important;
  line-height: 30px!important;
  width: 30px!important;
  text-align: center!important;
  fill: #727176!important;
}


/* -------  MENÚ MÓVIL  ------- */
input.placeholderMenuMovil::placeholder{
  color: #5C7C26;
}

.lupaMovil{
  background-color:transparent!important;

}


/* -------  Boton de subir archivo documentos  ------- */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 0px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* -------  Boton de subir archivo  imagenes ------- */
label[for="mi-archivo"],
label[for="mi-archivo2"],
label[for="mi-archivo3"],
label[for="mi-archivo4"] {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #A6CE34;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  }





/* -------  Boton de subir archivo  ------- */
.ver.input[type="file"] {
  display: block !important;
}

table.table-responsive{
  text-align: center;
  display: inline-table;
}



/* ------ BOTON NUEVO RESURTIR DETALLE ---------*/
.botonSinFondo{
background-color: #fff;
padding: 0px;
border: none;
}
.botonSinFondo:hover{
opacity: .5;
}

p.botonTitulos{
  color: #5C7C26!important;
  font-weight: 400;
}

/* --------- cuadritos con ícono que sube ---------- */
.process-inner {
  background-color: transparent;
  color: #333;
  text-align: center;
  border: 1px solid #dedede;
}
.process-inner {
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.process-inner .icon-holder {
  position: relative;
  top: 70px;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}
.process-inner .textTitulo {
  position: relative;
  top: 60px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.process-inner i {
  font-size: 40px;
  margin-bottom: 35px;
  
}
.process-inner h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.process-inner .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.process-inner:hover {
  border-color: #F7C90D;
}

.process-inner:hover .icon-holder {
  top: -30px;
}

.process-inner:hover .textTitulo {
  top: -30px;
}
.process-inner:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*------- IMAGENES CARGA Y DESCARGA DE COMBISTIBLES -------*/
.imgCargaDescarga{
  width: 100px;;
}

/* -------- MODALES DE CARGA Y DESCARGA DE COMBUSTIBLE --------*/





/* -------- CARGA Y DESCARCARGA DE COMBISTIBLE ------*/
.imgcargas{
  width: 150px;
  height: 150px;
  }
.combustibleBorde{
  border: #F7C90D 2px solid;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.bordeTitulo{
  border-bottom: #F7C90D 2px solid;
}
.combustibleTitulo,
.combustibleFecha{
  font-size: 2em;
  color: #5C7C26;
}

.combustibleTitulo{
  padding-bottom: 2px;
}
.combustibleLitros,
.combustibleHora{
  font-size: 1.5em;
  color: #5C7C26;
}

.combustiblefecha{
  font-size: 1.1em;
  color: #5C7C26;
}
.combustibleColorTexto{
  font-weight: 500;
  color: #5C7C26;
}

.conteDivCArgaDescarga{
  border-top: 1px solid #F7C90D!important;
}

.combustiblePestaña{
  border-bottom: 1px solid #F7C90D!important;
}
.combustiblePestaña:hover,
.combustiblePestaña:focus,
.combustiblePestaña.active{
  border-bottom: 1px solid #F7C90D!important;
  border-top: none;
  border-left: none;
  border-right: none;
}


/*---ESTILIS PARA GRAFICAS ----------*/
.botongrafica{
  background-color: #5C7C26!important;
}

.botongrafica:hover{
  background-color: #A6CE34!important;
}

.botongrafica:focus,
.botongrafica:active{
  background-color: #F7C90D!important;
}